# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log
*.log.*

# dotenv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
dist/
.cache/
.vite/

# React
build/
*.DS_Store

# IDEs/editors
.vscode/
.idea/
*.sw?

# Optional: ignore test coverage or output
coverage/

# Optional: ignore Render deploy logs or local stuff
render.yaml
